body
{
    background-color: black;
}

h1
{
    text-align: center;
    color: red;
    background-color: hsl(0, 10%, 23%);
}

#show_sketch
{
    float: right;
}

canvas
{
    border: 0px;
    border-radius: 20px;
    box-shadow: 1px 1px 80px red;
    margin-top: 50px;
}

p
{
    padding-top: 10px;
    font-size: 25px;
    color: brown;
}